.container {
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 768) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media screen and (min-width: 1200) {
        padding-left: 50px;
        padding-right: 50px;
    }
}